#pg-26-0, #pl-26 .so-panel {
    margin-bottom: 0px !important;
}
.page-content{
	text-align: center;
	padding: 300px 0;
}
.page-content strong{
	font-size: 50px;
	line-height: 1;
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	font-weight: 700;
	color: #272878;
	padding-bottom: 30px;
}
.page-content h3{
	margin: 0;
}